
.footer {
    /*background-color: #000;*/
    color: #fff;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    gap: 2.5rem;
    background: #111111;
}

.brandContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.menuContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
}

.policyContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}
